body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #047bf3;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1a237e;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header img {
    height: 10px;
}
.logo {
    width: 230px;
    height: auto;
}

header .menu-bar a {
    color: rgb(238, 238, 238);
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.publish-section {
    max-width: 800px;
    margin: 40px auto;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.publish-section h1 {
    margin-bottom: 30px;
    color: #1a237e;
    text-align: center;
}

.publish-form .form-group {
    margin-bottom: 20px;
}

.publish-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #1a237e;
}

.publish-form input[type="text"], 
.publish-form input[type="file"],
.publish-form input[type="email"],
.publish-form input[type="number"],
.publish-form textarea, 
.publish-form select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.publish-form textarea {
    height: 100px;
    resize: none;
}

.publish-form button {
    width: 100%;
    padding: 15px;
    background-color: #FFB300;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.publish-form button:hover {
    background-color: #e6a500;
}

footer {
    background-color: #1a237e;
    color: #1a237e;
    padding: 20px;
    text-align: center;
}

footer nav {
    margin-bottom: 10px;
}

footer nav .dropbtn a {
    color: #1a237e;
    text-decoration: none;
    margin: 0 10px;
}

footer p {
    margin: 0;
    color: white;
}
button {
    background-color: #FFB300;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

button:hover {
    background-color: #e67e22;
}
 